{{ partial "header.html" . }}
<br/>
<div class="row">
  <main role="main" class="col-md-9">
    <div class="container-fluid p-3 mb-3 rounded border shadow-hover bg-white p-chapt">

      <h3>Hi..</h3>
        <p>  
            wkwkwkwk 
        </p> <br style="margin-bottom:1em">

<h5>Recent activity</h5> 
<div class="h-undl-green"></div>    
      <div class="container">
        <ul class="timeline">
            <div class="anchor-target">
                <h5><i class="fas fa-thumbtack"></i> <a style="color:#222222;" href="{{ .Site.BaseURL }}posts"> Posts</a>
                </h5> <div class="h-undl-blue"></div>
              </div>
          {{ range first 4 (where .Site.Pages "Type" "posts") }}
              <li class="tl-node">
                <div class="tl-stamp">{{ .Date.Format "2006-01-02 15:04:05" | safeHTML }}</div>
                <div class="tl-content">
                  <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </div>
                {{ if .Truncated }}
                {{ end }}
              </li>
            {{ end }}
          </ul>
        </div>
        
      </div>
    </main>
    <aside class="col-md-3">
      <!--{{ partial "aside/about.html" . }}-->
      {{ partial "aside/rss.html" . }}
  </aside> 
</div>
{{ partial "footer.html" . }}
