{{/* view_tag_type : 'before' or 'after' */}}
<div class="card mb-3 rounded-rightside shadow tags">
  <div class="container m-aside">
    <h5>Tags</h5>
    <div class="h-undl-blue"></div>
  </div>

<ul class="m-aside-l2 p-chapt">
{{ range first 10 .Site.Taxonomies.tags.ByCount }}

    <a href="/tags/{{ .Name | urlize }}">
      <span class="aside-badge"><i class="fas fa-thumbtack"></i><span style=" margin-left:3px; font-size: 15px;">{{ .Name }}</span> 
        <span class="aside-badge-l2">{{ .Count }}</span></span>
    </a>

{{ end }}
</ul>

</div>
